Button {
    font-size: 40px;
    width: 500px;
    margin: 10px;
    flex-shrink: 1;
}

Button:hover {
    scale: 1.1 1.1;
    rotate: 1.5deg;
    transition-duration: 0.2s;
}

Button:active {
    scale: 0.9 0.9;
    rotate: 0;
    transition-duration: 0.2s;
}